<!DOCTYPE html>
<html>
<head>
  <title>RedmineExtensions</title>
  <%= stylesheet_link_tag    "redmine_extensions/application", media: "all" %>
  <%= javascript_include_tag "redmine_extensions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
